<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta name=description content="Calendar Page for CSCI 201 Group Project"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://animaproject.s3.amazonaws.com/home/favicon.png"
    />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/calendar-page.css" />
    <link rel="stylesheet" type="text/css" href="/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/globals.css" />
  </head>
  <body style="margin: 0" onload="load_date()">
    <script>
      window.theme = {
        primaryColor: "#1890ff",
        secondaryColor: "#1890ff",
        successColor: "#52c41a",
        warningColor: "#faad14",
        errorColor: "#f5222d",
      };
      window.globalTheme = {
        palette: {
          primary: {
            main: "#1976d2",
          },
          secondary: {
            main: "#9c27b0",
          },
          error: {
            main: "#d32f2f",
          },
          warning: {
            main: "#ed6c02",
          },
          info: {
            main: "#0288d1",
          },
          success: {
            main: "#2e7d32",
          },
          text: {
            primary: "rgba(0, 0, 0, 0.87)",
          },
        },
        typography: {
          fontSize: 14,
        },
        shape: {
          borderRadius: 4,
        },
      };
      function load_date(){
        var today = new Date();

        document.getElementById("date-input").value=today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

      }
      async function getEvents() {
        // Fetch API data:
        const date = localStorage.getItem("curr_date");
        const username = window.localStorage.getItem('username');
        const eventsURL = "http://event-organizer-server-group19.herokuapp.com/api/v1/EventInfo/User/" + username + "/" + date;
        // console.log(eventsURL);


        let xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", eventsURL, true);

        let parsedResponse = null;

        xmlHttp.onreadystatechange = function () {
          if (xmlHttp.readyState === xmlHttp.DONE) {
            if (xmlHttp.status === 200) {
              try {
                parsedResponse = JSON.parse(xmlHttp.responseText);
                // console.log(parsedResponse);
                buildEventsList(parsedResponse);
              } catch (err) {
                // 👇️ SyntaxError: Unexpected end of JSON input
                console.log('error', err);
              }
            }
          }

        }
        xmlHttp.send(null);
        return false;
      }

      async function buildEventsList(eventsArr) {
        // Populate character cards' HTML:
        let prettyDate = localStorage.getItem("curr_date_pretty");
        // Date Display at top of card
        let html = `<div class="place candal-normal-white-36px">
                      <span id="currentDay">
                        ${prettyDate}
                      </span>
                    </div>`;

        // set div to scroll if necessary
        if(eventsArr.length>4){
          document.getElementById("daily-events-list").style.overflowY="scroll" ;
        }

        for (let i = 0; i < eventsArr.length; i++) {
          // Populate event list
          // const eventDate = new Date(eventsArr[i].time);
          const eventListOptions = {
            hour: 'numeric', minute: 'numeric',
            hour12: true,
            timeZone: 'America/Los_Angeles'
          };
          let fullDateString = eventsArr[i].date + "T" + eventsArr[i].time;
          let eventDate = new Date(fullDateString);
          let timeString = eventDate.toLocaleTimeString("en-US", eventListOptions);

          html += "<div class='users-event' data-name='" + eventsArr[i].name.toLowerCase().replace(/\s+/g, '-') + "'>"
                    + "<div class=\"event-name-bar\">"
                      + "<div class=\"event-name valign-text-middle montserrat-semi-bold-black-24px\">"
                            + eventsArr[i].name
                      + "</div>"
                    + "</div>"
                    + "<div class=\"frame-2\">"
                      + "<div class=\"time montserrat-semi-bold-black-24px\">"
                          + "Time: " + timeString
                      + "</div>"
                    + "</div>"
                    + "<div class=\"frame-2\">"
                      + "<div class=\"location montserrat-semi-bold-black-24px\">"
                          + "Located @ " + eventsArr[i].location
                      + "</div>"
                    + "</div>"
                    + "<div class=\"frame-2\">"
                      + "<div class=\"category montserrat-semi-bold-black-24px\">"
                          + "Category: " + eventsArr[i].category
                      + "</div>"
                    + "</div>"
                  + "</div><br>";
        }

        if (eventsArr.length == 0) {
          html += `<div class="place candal-normal-white-24px">
                      You have no events today!
                    </div>`
        }
        // console.log(html);
        document.getElementById('daily-events-list').innerHTML = html;

      }
    </script>
    <input type="hidden" id="anPageName" name="page" value="calendar-page" />
    <div class="container-center-horizontal">
      <div class="calendar-page screen">
        <div class="overlap-group">
          <div class="flex-row">
            <div class="flex-col">
              <div class="your-monthly-plans valign-text-middle candal-normal-black-48px">
                Your <span id="month"></span> Plans
              </div>
              <div class="date-picker candal-normal-white-36px">
                <label for="date-input">Date: </label>
                <input
                    class="date montserrat-bold-black-30px"
                    name="date"
                    id="date-input"
                    placeholder="Date*"
                    type="date"
                    min = "2021-11-28"
                />
              </div>
            </div>
            <div class="events-on-day" id="daily-events-list">

            </div>
            <script>
              const dateInput = document.querySelector('.date-picker');
              const monthValue = document.querySelector('#month');
              const monthOptions = { month: "long", timeZone: 'America/Los_Angeles' };
              let currentDayOptions = { weekday: 'long', month: 'long', day: 'numeric', timeZone: 'America/Los_Angeles' };

              // sets initial date input value as current day
              dateInput.valueAsDate = new Date();


              // stores the current day in local storage
              let prettyCurrentDay = new Intl.DateTimeFormat("en-US", currentDayOptions).format(dateInput.valueAsDate);
              window.localStorage.setItem("curr_date", dateInput.valueAsDate.toISOString().slice(0, 10));
              window.localStorage.setItem("curr_date_pretty", prettyCurrentDay);

              // renders events on load
              getEvents();

              // update month in the "Your <month> Plans" Div
              monthValue.textContent = new Intl.DateTimeFormat("en-US", monthOptions).format(dateInput.valueAsDate);

              // event listener to update page when date input changes
              dateInput.addEventListener('change', (event) => {
                const monthValue = document.querySelector('#month');

                // fix timezone date errors from date input
                let date = event.target.valueAsDate;
                date = new Date(
                        date.getUTCFullYear(),
                        date.getUTCMonth(),
                        date.getUTCDate(),
                        date.getUTCHours(),
                        date.getUTCMinutes(),
                        date.getUTCSeconds(),
                        date.getUTCMilliseconds());

                // format the month variable and the current date variable
                monthValue.textContent = new Intl.DateTimeFormat("en-US", monthOptions).format(date);
                prettyCurrentDay = date.toLocaleDateString("en-US", currentDayOptions);

                // update locally stored curr date
                window.localStorage.setItem("curr_date", date.toISOString().slice(0, 10));
                window.localStorage.setItem("curr_date_pretty", prettyCurrentDay);

                // call event list builder
                getEvents();
              });

            </script>
          </div>
          <div class="tab-bar">
            <div class="tab-bar-structure">
              <div class="calendar">
                <img
                  class="material-symbolscalendar-today"
                  src="img/material-symbols-calendar-today@2x.png"
                  alt="material-symbols:calendar-today"
                />
                <div class="calendar-1 candal-normal-black-12px">Calendar</div>
              </div>
              <a href="/event-list">
                <div class="link">
                  <img
                    class="material-symbolsformat-list-bulleted"
                    src="img/material-symbols-format-list-bulleted@2x.png"
                    alt="material-symbols:format-list-bulleted"
                  />
                  <div class="event-list candal-normal-black-12px">
                    Event List
                  </div>
                </div></a
              ><a href="/create-event">
                <div class="link">
                  <img
                    class="gridiconscreate"
                    src="img/gridicons-create@2x.png"
                    alt="gridicons:create"
                  />
                  <div class="create-event candal-normal-black-12px">
                    Create Event
                  </div>
                </div></a
              ><a href="/profile">
                <div class="link">
                  <img
                    class="icon-user"
                    src="img/mdi-user@2x.png"
                    alt="icon-user"
                  />
                  <div class="profile candal-normal-black-12px">Profile</div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
